{
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "function-paren-newline": "off",
    "import/prefer-default-export": "off",
    "import/no-default-export": "error",
    "no-use-before-define": "off"
  },
  "globals": {
    "describe": false,
    "expect": false,
    "jest": false,
    "test": false
  }
}
