{
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["prettier"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "function-paren-newline": "off"
  }
}
