{
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "function-paren-newline": "off"
  }
}
